.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 100%;
  
}

.logo-nav {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em;
  margin: 0;
  margin-bottom: 3px;
  text-underline-offset: 3px;
  padding-right: 35px;
}

.logo-nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:5px;
  list-style: none;
}

.li-simple {
  text-decoration: none;
  list-style-type: none;
}

.li-decorated {
  width:6px;
  height: 6px;
  border-radius: 50%;
  border:1px #000 solid ;
}

.header-logo {
  width: 148Px;
  height: 105px;
}

.address {
  text-underline-offset: 3px;
  padding-top: 5px;
  padding-right: 35px;
  justify-self: end;
  align-self: baseline;
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  display: grid;
  justify-content: space-evenly;
}

.a-decorated {
  text-decoration: underline;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/ono-tebe-nado-fd/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 757px;
}

.h1 {
  margin-top: 115px;
  display:flex;
  flex-direction: column;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
}

.h1-word1 {
  align-self: flex-start;
}

.h1-word2 {
  padding-top: 23px;
  align-self: center;
}

.h1-word3 {
  padding-top: 23px;
  padding-left: 20px;
  align-self: flex-end;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: white;
  /* margin-top: 20px; */
}

.description-subtitle {
  margin-top:15px;
  word-spacing: 0.85em;
}

.bet-button {
  margin-right: 30px;
  padding: 15px 31px;
  height: 51px;
  background-color: transparent;
  border:1px solid white;
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  color: white;
}

.lots {
  padding: 185px 24px 0 24px;
  width: 100%;
  min-height: 710px;
  display: flex;
  flex-direction: column;
  gap:2px;
  justify-content: space-between;
}

.h2 {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0em;
  text-transform: uppercase;
  color:black;
  margin-bottom:27px;
  margin-left: 40px;
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:25px;
}

.card-container {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-Anderson {
  list-style-type: none;
  min-height: 596px;
  width: 334px;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-Joyse {
  list-style-type: none;
  min-height: 596px;
  width: 334px;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-Kandinsky {
  list-style-type: none;
  min-height: 596px;
  width: 334px;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h3 {
  justify-self: flex-start;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color:white;
}

.card-text {
  justify-self: flex-end;
  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0em;
}

.lots-more-info {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0em;
  color:#000;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-top:22px;
  margin-left: 40px;
}

.about {
  margin-top:112px;
  min-height: 595px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0;
}

.logo-column {
  margin-top: 35px;
  align-self: flex-start;
  margin-left:70px;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-white {
  width: 148px;
  height: 114px;
  place-self: center center;
}

.description-column {
  width:693px;
  margin-top: 140px ;
  margin-right: 24px;
}

.description-column .h2 {
  margin-left: 0px;
  margin-bottom: 102px;
  
}

.description-text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
  color:#000;
  margin-bottom: 24px;
  margin-right: 3px;
}

.footer {
  margin: 153px 50px auto 50px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap:0px;
}

.menu {
  letter-spacing: 1px;
  line-height: 20.5px;
  text-underline-offset: 4px;
  margin-top:7px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-network {
  padding-top:4px;
  display: flex;
  flex-direction: row;
  gap:48px;
}

.link-image {
  width: 48px;
  height: 48px;
  background-color: white;
}