.header{
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  position: absolute;
  right: 0;
  left:0;
  top:0;
  background-color: blueviolet;
  
}

.logo-nav{
  background-color: blue;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.logo-nav ul {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: space-evenly;
  list-style: none; 
  padding: 0;       
  margin: 0;        
}

.li-simple{
  text-decoration: none;
  list-style-type: none;
}

.li-decorated{
  list-style-type: circle;
  text-decoration: underline;
}

.header-logo{
  background-color: red;
  width: 148Px;
  height: 105px;
}

.address{
  display: grid;
  justify-content: space-evenly;
  background-color: aqua;
  
}

.a-decorated{
  text-decoration: underline;
}