.header{
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  /*position: absolute;
  right: 0;
  left:0;
  top:0;*/
  width: 100%;
  background-color: blueviolet;
  
}

img{
  background: #000;
}

.logo-nav{
  background-color: blue;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.logo-nav ul {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: space-evenly;
  list-style: none; 
  padding: 0;       
  margin: 0;        
}

.li-simple{
  text-decoration: none;
  list-style-type: none;
}

.li-decorated{
  list-style-type: circle;
  text-decoration: underline;
}

.header-logo{
  background-color: red;
  width: 148Px;
  height: 105px;
}

.address{
  display: grid;
  justify-content: space-evenly;
  background-color: aqua;

}

.a-decorated{
  text-decoration: underline;
}

/* TODO: разобраться с затемнением картинки
*/
.cover{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  
  opacity: 0.6;
  background-image: url("/ono-tebe-nado-fd/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 757px;
}

.h1{
  display:flex;
  flex-direction: column;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
  color: white;
}

.h1-word1{
  align-self: flex-start;
}
.h1-word2{
  align-self: center;
}
.h1-word3{
  align-self: flex-end;
}

.description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
}

.description-subtitle{
  
}

.bet-button{
  background-color: transparent;
  border:1px solid white;
  box-shadow: none;
  color: white;
}

.lots{
  padding: 180px 24px;
  background-color: chartreuse;
  width: 100%;
  min-height: 723px;
}

.h2{
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color:black
}

.card-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:25px;
}

.card{
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  min-height: 596px;
  width: 334px;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h3{
  justify-self: flex-start;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color:white;
}

.card-text{
  justify-self: flex-end;
  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}